@model IEnumerable<Atividade1.Models.Evento>

@{
    ViewData["Title"] = "Lista de Eventos";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo</a>
</p>

@foreach (var item in Model)
{
    <div class="card card-header m-1 p-1">
        <div class="bg-transparent p-1">
            <h4>
                @item.Nome
                <span class="btn btn-info" style="float:right">
                    <small>@(item.Cadastrantes?.Count() ?? 0) participantes</small>
                </span>
            </h4>
            <span>
                <small>
                    <a asp-action="Edit" asp-route-id="@item.EventoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EventoID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventoID">Excluir</a>
                </small>
            </span>
        </div>
    </div>
}